{{- if lookPath "pass-cli" -}}
https://{{ .personal_github_username }}:{{ protonPass "pass://Personal/Github_PAT/password" | trim }}@github.com
{{- end }}
{{- if lookPath "bw" }}
https://{{ .ado_email | replace "@" "%40" }}:{{ (bitwarden "item" "AzureDevops_PAT").login.password | trim }}@dev.azure.com
{{- end }}