#!/bin/bash
# Code: {{ .chezmoi.sourceFile }}
set -e

{{ if not .is_shared -}}
echo "Installing System-wide packages..."
sudo add-apt-repository -y ppa:libreoffice/ppa
sudo apt update
sudo apt install -y build-essential cmake libtool-bin wget unzip ripgrep fd-find zsh wl-clipboard libreoffice libreoffice-gnome
{{- else -}}
echo "Shared VM detected. Skipping LibreOffice and system-wide PPAs."
sudo apt install -y cmake zsh pinentry-curses
{{- end }}


# Ensure the bin directory exists
mkdir -p {{ .bin_dir }}

# ==========================================
# Toolchains (Rust & Mise)
# ==========================================

{{ if not .is_shared -}}
# Install Rust (Idempotent)
if ! command -v cargo &> /dev/null; then
    echo "Installing the Rust toolchain..."
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y

    # We must source the environment right now so the rest of the script can use 'cargo'
    . "$HOME/.cargo/env"
else
    echo "Rust is already installed."
fi
{{- end }}

# Install Claude Code
{{ if .install_claude -}}
if ! command -v claude &> /dev/null; then
    echo "Installing Claude Code..."
    curl -fsSL https://claude.ai/install.sh | bash
else
    echo "Claude Code is already installed."
fi
{{- end }}

# Install Mise
if ! command -v mise &> /dev/null; then
    echo "Installing Mise toolchain manager..."
    curl https://mise.run | sh
fi

# Install Starship
if ! command -v starship &> /dev/null; then
    echo "Installing Starship prompt..."
    curl -sS https://starship.rs/install.sh | sh -s -- --bin-dir {{ .bin_dir }} -y
fi

# Install Atuin
if ! command -v atuin &> /dev/null; then
    echo "Installing Atuin history database..."
    curl --proto '=https' --tlsv1.2 -LsSf https://setup.atuin.sh | sh -s -- --non-interactive
else
    echo "Atuin is already installed."
fi

# Install Proton Pass CLI
if ! command -v pass-cli &> /dev/null; then
    echo "Installing Proton Pass CLI..."
    export PROTON_PASS_CLI_INSTALL_DIR={{ .bin_dir }}
    curl -fsSL https://proton.me/download/pass-cli/install.sh | bash
else
    echo "Proton Pass CLI is already installed."
fi
mkdir -p ~/.zfunc
pass-cli completions zsh > ~/.zfunc/_pass-cli

# Install Bitwarden CLI
if ! command -v bw &> /dev/null; then
    echo "Installing Bitwarden CLI..."
    curl -Lo /tmp/bw.zip "https://vault.bitwarden.com/download/?app=cli&platform=linux"
    sudo unzip -o /tmp/bw.zip -d {{ .bin_dir }}
    sudo chmod +x {{ .bin_dir }}/bw
    rm /tmp/bw.zip
else
    echo "Bitwarden CLI is already installed."
fi
mkdir -p ~/.zfunc
bw completion --shell zsh > ~/.zfunc/_bw

# Install az cli
{{ if .install_az_cli -}}
if ! command -v az &> dev/null; then
    echo "Install az cli..."
    curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
else
    echo "az cli is already installed."
fi
{{- end }}
